<div class="container-fluid background-card bg-linear-orange p-0">

  <div *ngIf="isLoading" class="loader">
    <div class="spinner"></div>
      Carregando...
  </div>

  <div class="row w-100 h-100 justify-content-center align-items-center">
    <div class="col-5 h-75">
      <div class="card text-center h-100 rounded-4 py-5 px-3">
        <div class="card-body d-flex flex-column">

          <div class="row justify-content-center mb-4">
            <div class="col-7">
              <h2 class="markTitle">Avaliação FIAP</h2>
            </div>
          </div>

          <div class="row justify-content-center mb-4">
            <div class="col-9">
              <h5><strong>ENTRAR</strong></h5>
              <p>Entre com suas credencias e  acesse a conta.</p>
            </div>
          </div>

          <div class="row text-start">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="inputEmail" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmail" formControlName="email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <label for="inputPassword" class="form-label">Senha</label>
                <input type="password" class="form-control" id="inputPassword" formControlName="password">
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn bg-orange text-white">Entrar</button>
              </div>

              <div class="text-danger d-flex justify-content-center align-items-center pt-4">
                <h5>{{ error }}</h5>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
